body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#puzzle{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin-top: 20px;
}
.piece{
    width: 100px;
    height: 100px;
    background-image: url('Imagens/QuebraCabecaDePokemon.jpg');
    background-size: 300px 300px;
    cursor: pointer;
    border: 1px solid #ddd;
}